@charset "utf-8";

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

/* Websiteの画像 */
#web-image {
  background-size: cover;
  background-image: url(/images/image.png);
}
#web-name {
  margin-top: 5%;
  margin-bottom: 5%;
}

.push {
  padding-top: 10%;
}